body{
    margin:0 auto;
    background-color: brown;
    color: white;
    font-size: x-large;
    align-content: center;
    align-items: center;
    
    max-width: 900px;
}
#btn{
    width: 200px;
    height: 39px;
    font-size: 25px;
    color: white;
    background-color: black;
    font-weight: bolder;
    padding-bottom: 19px;

}
#inp{
    height: 22px;
    padding-top: 8px;
    padding-bottom: 4px;
    
}
#display{
    color: white;
}
